// Niri configuration
// Wiki: https://yalter.github.io/niri/Configuration:-Introduction

// Existing dms includes
include "dms/alttab.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/wpblur.kdl"

// Modular configuration
include "input.kdl"
include "outputs.kdl"
include "layout.kdl"
include "settings.kdl"
include "binds.kdl"
include "rules.kdl"
include "dms/outputs.kdl"

include "dms/cursor.kdl"
